/* BEGIN Italic */
@font-face {
	font-family: "RobotoCondensed";
	@include fontdef($FontPath, $FontVersion, "Italic");
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
}
/* END Italic */
