/* BEGIN Light Italic */
@font-face {
	font-family: "RobotoCondensed";
	@include fontdef($FontPath, $FontVersion, "LightItalic");
	font-weight: 300;
	font-style: italic;
	font-display: fallback;
}
/* END Light Italic */
